<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Home page</title>
</head>
<body>
	<div>
		<table style="position:absolute; top:0; right:0; "><tr>
			<td><span th:text="'Welcome ' + ${session.emplUsername}"></span></td>
			<td><a href="GoToSalesReportPage"><button type="button">Sales Report</button></a></td>
			<td><a href="Logout"><button type="button">Logout</button></a></td>
		</tr></table>
	</div>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse; 
			margin-left: auto; margin-right: auto;">
		<tr style="border: 1px solid black; vertical-align:center; height:50px">
			<th>Service package creation</th>
		</tr><tr>
			<td><form action="CreateSP" method="POST">
				<table style="width:100%; border-collapse: collapse; 
						margin-left: auto; margin-right: auto;" rules="cols"><tr>
						<td style="text-align: center; vertical-align:center; height:40px" colspan=2>
							Name: <input type="text" name="spName" required>
						</td>
					</tr><tr>
					<th style="width:50%; vertical-align:center; height:40px">Available services</th>
					<th>Available optional products</th></tr><tr>
					<td style="width:50%">
						<table style="width:100%;">
							<tr><th style="text-align: left;">
								<input type="checkbox" value="fp" id="fp" name="servicePackage">
									Fixed Phone
							</th></tr>
						</table><br><table style="width:100%;">
							<tr><th style="text-align: left;">
								<input type="checkbox" value="fi" id="fi" name="servicePackage">
									Fixed Internet
							</th></tr>
							<tr th:each="fi : ${fis}">
								<td>
									<table><tr><td style="vertical-align: top;">
										<input type="radio" th:value="${fi.getIdService()}" th:id="${fi.getIdService()}" 
															name="fixedInternet" checked>
									</td><td>
										Number of included Gigabytes: <span th:text="${fi.getNumGigaFI()}"></span><br>
										Fee for extra Gigabytes: <span th:text="${#numbers.formatDecimal(
												fi.getExtraGigaFeeFI(), 1, 'COMMA', 2, 'POINT')}"></span>&euro;
									</td></tr></table>
								</td>
							</tr>
						</table><br><table style="width:100%;">
							<tr><th style="text-align: left;">
								<input type="checkbox" value="mp" id="mp" name="servicePackage">
									Mobile Phone
							</th></tr>
							<tr th:each="mp : ${mps}">
								<td>
									<table><tr><td style="vertical-align: top;">
										<input type="radio" th:value="${mp.getIdService()}" th:id="${mp.getIdService()}" 
															name="mobilePhone" checked>
									</td><td>
										Number of minutes: <span th:text="${mp.getNumMin()}"></span><br>
										Number of SMSs: <span th:text="${mp.getNumSms()}"></span><br>
										Fee for extra minutes: <span th:text="${#numbers.formatDecimal(
											mp.getMinFee(), 1, 'COMMA', 2, 'POINT')}"></span>&euro;<br>
										Fee for extra SMSs: <span th:text="${#numbers.formatDecimal(
											mp.getSmsFee(), 1, 'COMMA', 2, 'POINT')}"></span>&euro;
									</td></tr></table>
								</td>
							</tr>
						</table><br><table style="width:100%;">
							<tr><th style="text-align: left;">
								<input type="checkbox" value="mi" id="mi" name="servicePackage">
									Mobile Internet
							</th></tr>
							<tr th:each="mi : ${mis}">
								<td>
									<table><tr><td style="vertical-align: top;">
										<input type="radio" th:value="${mi.getIdService()}" th:id="${mi.getIdService()}" 
															name="mobileInternet" checked>
									</td><td>
										Number of included Gigabytes: <span th:text="${mi.getNumGigaMI()}"></span><br>
										Fee for extra Gigabytes: <span th:text="${#numbers.formatDecimal(
												mi.getExtraGigaFeeMI(), 1, 'COMMA', 2, 'POINT')}"></span>&euro;
									</td></tr></table>
								</td>
							</tr>
						</table>
					</td>
					<td style="vertical-align:top;">
						<table>
							<tr th:each="op : ${ops}">
									<td>
										<table><tr><td style="vertical-align: top;">
											<input type="checkbox" th:value="${op.getIdOP()}" name="optionalProducts">
										</td><td>
											<span th:text="${op.getNameOP()}"></span><br>
											Monthly fee: <span th:text="${#numbers.formatDecimal(
												op.getMonthlyFeeOP(), 1, 'COMMA', 2, 'POINT')}"></span>&euro;
										</td></tr></table>
									</td>
								</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="text-align: center; vertical-align:center;" colspan=2>
						<input type="submit" value="Create">
					</td>
				</tr>
				<tr th:if="${session.errorMsgSP!=null}">
					<td style="text-align: center; vertical-align:center;" colspan=2>
						<span th:text=" ${session.errorMsgSP}"></span>
					</td>
				</tr></table>
			</form></td>
		</tr>	
	</table><br>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse;
			margin-left: auto; margin-right: auto;" rules="cols">
		<tr style="border: 1px solid black;">
			<th style="vertical-align:center; height:50px">Service creation</th>
		</tr><tr>
			<td>
				<table style="width:100%">
					<tr>	
						<th style="width:33%; vertical-align:center; height:40px">Fixed Internet</th>
						<th style="width:33%;">Mobile phone</th>
						<th style="width:33%;">Mobile Internet</th>
					<tr>
						<td style="width:33%; text-align: center;">
							<form action="CreateFI" method="POST">
								Number of included Gigabytes: <br><input type="number" name="numGigaFI" 
														id="numGigaFI" min="1" required><br><br>
								Fee for extra Gigabytes: <br><input type="number" name="extraGigaFeeFI" 
														id="extraGigaFeeFI" step="0.01" min="0.01" required><br><br>
								<input type="submit" value="Create"><br>
								<p th:if="${session.errorMsgFI!=null}" th:text=" ${session.errorMsgFI}"></p>
							</form>
						</td>
						<td style="width:33%; text-align: center;">
							<form action="CreateMP" method="POST">
								Number of minutes: <br><input type="number" name="numMin" 
																	id="numMin" min="1" required><br><br>
								Number of SMSs: <br><input type="number" name="numSms" 
																	id="numSms" min="1" required><br><br>
								Fee for extra minutes: <br><input type="number" name="minFee" id="minFee" 
																	step="0.01" min="0.01" required><br><br>
								Fee for extra SMSs: <br><input type="number" name="smsFee" id="smsFee" 
																	step="0.01" min="0.01" required><br><br>
								<input type="submit" value="Create"><br>
								<p th:if="${session.errorMsgMP!=null}" th:text=" ${session.errorMsgMP}"></p>
							</form>
						</td>
						<td style="width:33%; text-align: center;">
							<form action="CreateMI" method="POST">
								Number of included Gigabytes: <br><input type="number" name="numGigaMI" 
														id="numGigaMI" min="1" required><br><br>
								Fee for extra Gigabytes: <br><input type="number" name="extraGigaFeeMI" 
														id="extraGigaFeeMI" step="0.01" min="0.01" required><br><br>
								<input type="submit" value="Create"><br>
								<p th:if="${session.errorMsgMI!=null}" th:text=" ${session.errorMsgMI}"></p>
							</form>
						</td>
					</tr>
				</table>
			</td>
		</tr>	
	</table><br>
	<table style="width:60%; border: 1px solid black; border-collapse: 
				collapse; margin-left: auto; margin-right: auto;">
		<tr style="border: 1px solid black;">
			<th style="vertical-align:center; height:50px">Optional product creation</th>
		</tr><tr><td style="vertical-align:center; height:50px">
			<form action="CreateOP" method="POST"><table style="width:100%;"><tr>
				<td style="text-align: center; width:45%;">Name: <input type="text" 
					name="opName" id="opName" maxlength="32" required></td>
				<td style="width:45%;">Monthly fee: <input type="number" 
					name="opMonthlyFee" id="opMonthlyFee" step="0.01" min="0.01" required></td>
				<td style="width:10%;"><input type="submit" value="Create"></td>
			</tr></table></form>	
		</tr>
		<tr th:if="${session.errorMsgOP!=null}" >
			<td style="text-align: center;"><span th:text=" ${session.errorMsgOP}"></span></td>
		</tr>
	</table>
</body>
</html>