<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Sales Report Page</title>
	<style>
		td {text-align: center; vertical-align: middle;}
	</style>
</head>
<body>
	<div>
		<table style="position:absolute; top:0; right:0; "><tr>
			<td><span th:text="'Welcome ' + ${session.emplUsername}"></span></td>
			<td><form action="GoToHomePage" method="POST"><input type="submit" value="Home page"/></form></td>
			<td><form action="Logout" method="POST"><input type="submit" value="Logout"/></form></td>
		</tr></table>
	</div>

	<table style="width:60%; border-collapse: collapse; margin-left: auto; margin-right: auto;">
		<tr>
			<td colspan=2><h2>Sales report</h2></td>
		</tr>
	</table><hr><br>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse;
	 	margin-left: auto; margin-right: auto;" rules=rows>
		<tr><td style="height:50px" colspan=3>
			<h3>Number of total purchases per package</h3>
		</td></tr>
		<tr>
			<th style="height:40px; width:33%">Service package ID</th>
			<th style="width:33%">Service package name</th>
			<th>Total purchase</th>
		</tr>
		<tr th:each="entry : ${tpsv}">
			<td style="height:40px; width:33%"><span th:text="${entry.idSP}"></span></td>
			<td style="width:33%"><span th:text="${entry.name}"></span></td>
			<td><span th:text="${#numbers.formatDecimal(
				entry.totalPurchase, 1, 'COMMA', 2, 'POINT')}"></span>&euro;
			</td>
		</tr>
	</table><br><hr><br>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse;
	 	margin-left: auto; margin-right: auto;" rules=rows>
		<tr><td style="height:50px" colspan=6>
			<h3>Number of total purchases per package and validity period</h3>
		</td></tr>
		<tr>
			<th style="height:40px">Service package ID</th>
			<th>Service package name</th>
			<th>Validity period ID</th>
			<th>Number of month</th>
			<th>Monthly fee</th>
			<th>Total purchase</th>
		</tr>
		<tr th:each="entry : ${tpsvv}">
			<td style="height:40px"><span th:text="${entry.idSP}"></span></td>
			<td><span th:text="${entry.name}"></span></td>
			<td><span th:text="${entry.idVP}"></span></td>
			<td><span th:text="${entry.numMonth}"></span></td>
			<td><span th:text="${#numbers.formatDecimal(
				entry.monthlyFee, 1, 'COMMA', 2, 'POINT')}"></span>&euro;
			</td>
			<td><span th:text="${#numbers.formatDecimal(
				entry.totalPurchase, 1, 'COMMA', 2, 'POINT')}"></span>&euro;
			</td>
		</tr>
	</table><br><hr><br>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse;
	 	margin-left: auto; margin-right: auto;" rules=rows>
		<tr><td style="height:50px" colspan=4>
			<h3>Total value of sales per package with and without the optional products</h3>
		</td></tr>
		<tr>
			<th style="height:40px">Service package ID</th>
			<th>Service package name</th>
			<th>Total purchase with optional products</th>
			<th>Total purchase without optional products</th>
		</tr>
		<tr th:each="entry : ${tssov}">
			<td style="height:40px"><span th:text="${entry.idSP}"></span></td>
			<td><span th:text="${entry.nameSP}"></span></td>
			<td><span th:text="${#numbers.formatDecimal(
				entry.totWithOP, 1, 'COMMA', 2, 'POINT')}"></span>&euro;
			</td>
			<td><span th:text="${#numbers.formatDecimal(
				entry.totWithoutOP, 1, 'COMMA', 2, 'POINT')}"></span>&euro;
			</td>
		</tr>
	</table><br><hr><br>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse;
	 	margin-left: auto; margin-right: auto;" rules=rows>
		<tr><td style="height:50px" colspan=3>
			<h3>Average number of optional products sold together with each service package</h3>
		</td></tr>
		<tr>
			<th style="height:40px; width:33%">Service package ID</th>
			<th style="width:33%">Service package name</th>
			<th>Average number of optional products</th>
		</tr>
		<tr th:each="entry : ${aosv}">
			<td style="height:40px; width:33%"><span th:text="${entry.idSP}"></span></td>
			<td style="width:33%"><span th:text="${entry.nameSP}"></span></td>
			<td><span th:text="${#numbers.formatDecimal(
				entry.numAvgOP, 1, 'COMMA', 2, 'POINT')}"></span>
			</td>
		</tr>
	</table><br><hr><br>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse;
	 	margin-left: auto; margin-right: auto;" rules=rows>
		<tr><td style="height:50px" colspan=3>
			<h3>List of insolvent users</h3>
		</td></tr>
		<tr>
			<th style="height:40px; width:33%">Consumer username</th>
			<th style="width:33%">E-mail</th>
			<th>Number of failed payments</th>
		</tr>
		<tr th:each="entry : ${icv}">
			<td style="height:40px; width:33%"><span th:text="${entry.username}"></span></td>
			<td style="width:33%"><span th:text="${entry.email}"></span></td>
			<td><span th:text="${entry.numFailedPayments}"></span></td>
		</tr>
	</table><br><hr><br>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse;
	 	margin-left: auto; margin-right: auto;" rules=rows>
		<tr><td style="height:50px" colspan=7>
			<h3>List of suspended orders</h3>
		</td></tr>
		<tr>
			<th style="height:40px">Order ID</th>
			<th>Service package ID</th>
			<th>Validity period ID</th>
			<th>Total amount</th>
			<th>Start date</th>
			<th>Creation date</th>
			<th>Consumer username</th>
		</tr>
		<tr th:each="entry : ${sov}">
			<td style="height:40px"><span th:text="${entry.idOrder}"></span></td>
			<td><span th:text="${entry.idSP}"></span></td>
			<td><span th:text="${entry.idValidity}"></span></td>
			<td><span th:text="${#numbers.formatDecimal(
				entry.totValue, 1, 'COMMA', 2, 'POINT')}"></span>&euro;
			</td>
			<td><span th:text="${#dates.format(entry.startDate, 'yyyy-MM-dd')}"></span></td>
			<td><span th:text="${#dates.format(entry.creationDate, 'yyyy-MM-dd HH:mm')}"></span></td>
			<td><span th:text="${entry.userConsumer}"></span></td>
	</table><br><hr><br>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse;
	 	margin-left: auto; margin-right: auto;" rules=rows>
		<tr><td style="height:50px" colspan=4>
			<h3>List of alerts</h3>
		</td></tr>
		<tr>
			<th style="height:40px">Consumer username</th>
			<th>E-mail</th>
			<th>Total amount</th>
			<th>Last rejection</th>
		</tr>
		<tr th:each="entry : ${av}">
			<td style="height:40px"><span th:text="${entry.userConsumer}"></span></td>
			<td><span th:text="${entry.email}"></span></td>
			<td><span th:text="${#numbers.formatDecimal(
				entry.amount, 1, 'COMMA', 2, 'POINT')}"></span>&euro;
			</td>
			<td><span th:text="${#dates.format(entry.lastRejection, 'yyyy-MM-dd HH:mm')}"></span></td>
		</tr>
	</table><br><hr><br>
	<table style="width:60%; border: 1px solid black; border-collapse: collapse;
	 	margin-left: auto; margin-right: auto;" rules=rows>
		<tr><td style="height:50px" colspan=3>
			<h3>Best seller optional product</h3>
		</td></tr>
		<tr>
			<th style="height:40px; width:33%">Optional product ID</th>
			<th style="width:33%">Optional product name</th>
			<th>Number of sales</th>
		</tr>
		<tr th:each="entry : ${bsov}">
			<td style="height:40px; width:33%"><span th:text="${entry.idOP}"></span></td>
			<td style="width:33%"><span th:text="${entry.nameOP}"></span></td>
			<td><span th:text="${entry.numSell}"></span></td>
		</tr>
	</table>
</body>
</html>