<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Progetto-DB2-Web-E</display-name>
 <filter> 
      <filter-name>LoginChecker</filter-name>
      <filter-class>it.polimi.db2.progetto.e.filters.LoginChecker</filter-class> 
 </filter> 
 <filter-mapping> 
    <filter-name>LoginChecker</filter-name> 
    <url-pattern>/CreateFI</url-pattern> 
    <url-pattern>/CreateMI</url-pattern> 
    <url-pattern>/CreateMP</url-pattern>
    <url-pattern>/CreateOP</url-pattern> 
    <url-pattern>/CreateSP</url-pattern> 
    <url-pattern>/GoToHomePage</url-pattern>
    <url-pattern>/GoToSalesReportPage</url-pattern>
    <url-pattern>/Logout</url-pattern> 
 </filter-mapping>
 <welcome-file-list>
   <welcome-file>index.html</welcome-file>
 </welcome-file-list>
</web-app>