<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<body>
	<h1 align="center">Welcome to the Telcom Application</h1>
	<table style="width:20%; border: 1px solid black; border-collapse: collapse; 
					margin-left: auto; margin-right: auto;"><tr>
		<td style="text-align: center; vertical-align: middle;">
			<form action="CheckLogin" method="POST"><br>
				Username:<br><input type="text" name="username" required> <br><br>
				Password:<br><input type="password" name="pwd" required><br><br>
				<input type="submit" value="Login">
				<p th:if="${errorMsg!=null}" th:text=" ${errorMsg}"></p>
			</form>
	</td></tr></table><br><br>
	<table style="width:20%; border: 1px solid black; border-collapse: collapse; 
					margin-left: auto; margin-right: auto;"><tr>
		<td style="text-align: center; vertical-align: middle;">
			<form action="Register" method="POST"><br>
				Email:<br><input type="email" name="email" maxlength="64" required> <br><br>
				Username:<br><input type="text" name="username" maxlength="32" required> <br><br>
				Password:<br><input type="password" name="pwd" maxlength="16" required><br><br>
				<input type="submit" value="Register">
				<p th:if="${errorMsgReg!=null}" th:text=" ${errorMsgReg}"></p>
			</form>
	</td></tr></table><br><br>
	<table style="width:20%; border-collapse: collapse; 
					margin-left: auto; margin-right: auto;"><tr>
		<td style="text-align: center; vertical-align: middle;">
			<form action="SkipLogin" method="GET">
			    <input type="submit" value="Skip" />
			</form>
	</td></tr></table>
</body>
</html>