<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Buy Page</title>
</head>
<body> 
	<div th:if="${session.cartService.getUsername()!=null && session.cartService.getUsername()!=''}">
		<table style="position:absolute; top:0; right:0; "><tr>
			<td><span th:text="'Welcome ' + ${session.cartService.getUsername()}"></span></td>
		</tr></table>
	</div>
	<table style="width:60%; border-collapse: collapse; margin-left: auto; margin-right: auto;"><tr>
		<td style="text-align: center; vertical-align: middle;" colspan=2>
			<h2>List of purchasable service packages</h2></td></tr>
		<tr><td style="text-align: center; width:50%">
			<a href="GoToHomePage"><button type="button">Home page</button></a>
		</td>
		<td th:if="${session.cartService.getUsername() != null && session.cartService.getUsername() != ''}" style="text-align: center;">
			<a href="Logout"><button type="button">Logout</button></a>
		</td>
		<td th:if="${session.cartService.getUsername() == null || session.cartService.getUsername() == ''}" style="text-align: center;">
			<a href="index.html"><button type="button">Login</button></a>
		</td>
	</tr></table>
	<br>
	<table style="width:100%; border: 1px solid black; border-collapse: collapse;">
		<tr th:each="sp : ${servicePackages}" style="border: 1px solid black;">
			<td><form action="GoToConfirmPage" method="POST">
				<table style="width:100%;  text-align: left;">
					<tr>
						<th style="width: 10%">
							<span th:text="${sp.getName()}">Service Package name</span><br>
							<input type="hidden" name="idSP" th:value="${sp.getIdServicePackage()}">
						</th>
						<td style="width: 25%">
							<div th:if="${sp.getFixedPhone() != null}">
								<ul><li>Fixed Phone</li></ul>
							</div>
							<div th:if="${sp.getFixedInternet() != null}">
								<ul><li>Fixed Internet
									<ul>
										<li>Number of included Gigabytes: <span th:text="${sp.getFixedInternet().getNumGigaFI()}"></span></li>
										<li>Fee for extra Gigabytes: <span th:text="${#numbers.formatDecimal(
														sp.getFixedInternet().getExtraGigaFeeFI(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
									</ul>
								</li></ul>
							</div>
							<div th:if="${sp.getMobilePhone() != null}">
								<ul><li>Mobile Phone
									<ul>
										<li>Number of minutes: <span th:text="${sp.getMobilePhone().getNumMin()}"></span></li>
										<li>Number of SMSs: <span th:text="${sp.getMobilePhone().getNumSms()}"></span></li>
										<li>Fee for extra minutes: <span th:text="${#numbers.formatDecimal(
														sp.getMobilePhone().getMinFee(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
										<li>Fee for extra SMSs: <span th:text="${#numbers.formatDecimal(
														sp.getMobilePhone().getSmsFee(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
									</ul>
								</li></ul>
							</div>
							<div th:if="${sp.getMobileInternet() != null}">
								<ul><li>Mobile Internet
									<ul>
										<li>Number of included Gigabytes: <span th:text="${sp.getMobileInternet().getExtraGigaFeeMI()}"></span></li>
										<li>Fee for extra Gigabytes: <span th:text="${#numbers.formatDecimal(
														sp.getMobileInternet().getExtraGigaFeeMI(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
									</ul>
								</li></ul>
							</div>
						</td>
						<td style="width: 25%">
							<table style="text-align: left;">
								<tr>
									<th>Optional products</th>
								</tr>
								<tr th:if="${sp.getOptionalProducts().empty}"><td>There are no available optional products</td></tr>
								<tr th:each="op : ${sp.getOptionalProducts()}">
									<td>
										<input type="checkbox" th:value="${op.getIdOP()}" th:id="${op.getIdOP()}" 
														th:name="${sp.getIdServicePackage() + '_optionalProducts'}">
											<span th:text="${op.getNameOP()}"></span>
										<ul>
											<li>Monthly fee: <span th:text="${#numbers.formatDecimal(
														op.getMonthlyFeeOP(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
										</ul>
									</td>
								</tr>
							</table>
						</td>
						<td style="width: 20%">
							<table style="text-align: left;">
								<tr>
									<th>Validity period</th>
								</tr>
								<tr th:each="vp : ${validityPeriods}">
									<td>
										<table><tr><td>
											<input type="radio" th:value="${vp.getIdValidityPeriod()}" th:id="${vp.getIdValidityPeriod()}" 
															th:name="${sp.getIdServicePackage() + '_validityPeriod'}" checked required>
										</td><td>
												Number of months: <span th:text="${vp.getNumMonth()}"></span><br>
												Monthly fee: <span th:text="${#numbers.formatDecimal(
																vp.getMonthlyFee(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;
										</td></tr></table>
									</td>
								</tr>
							</table>
						</td>
						<td style="width: 15%">
							Start date: <input type="date" id="startDate" name="startDate" 
									 th:value="${#dates.format(todayDate, 'yyyy-MM-dd')}"required>
							<p th:if="${session.errorMsg!=null && session.errorMsgID==sp.getIdServicePackage()}"
									 th:text="${session.errorMsg}"></p>
						</td>
						<td style="width: 5%">
							    <input type="submit" value="Confirm"/>
						</td>
					</tr>
				</table>
			</form></td>
		</tr>
	</table>	
</body>
</html>