<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Confirm page</title>
</head>
<body>
	<div th:if="${!session.consUsername.empty}">
		<table style="position:absolute; top:0; right:0; "><tr>
			<td><span th:text="'Welcome ' + ${session.consUsername}"></span></td>
		</tr></table>
	</div>
	<table style="width:60%; border-collapse: collapse; margin-left: auto; margin-right: auto;"><tr>
		<td style="text-align: center; vertical-align: middle;" colspan=2>
			<h2>Details of the order</h2></td></tr>
		<tr><td style="text-align: center; width:50%">
			<form action="GoToHomePage" method="POST"><input type="submit" value="Home page"/></form>
		</td>
		<td style="text-align: center;">
			<form action="GoToBuyPage" method="POST"><input type="submit" value="Change the service package"/></form>
		</td>
	</tr></table><br>
	<table style="width:100%; border: 1px solid black; border-collapse: collapse;" rules="all">
		<tr>
			<th style="width: 15%">
				Service package
			</th>
			<th style="width: 25%">
				Service
			</th>
			<th style="width: 20%">
				Optional products
			</th>
			<th style="width: 20%">
				Validity period
			</th>
			<th style="width: 10%">
				Total price
			</th>
			<th style="width: 10%">
				Start date
			</th>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: middle; width: 15%">
				<span th:text="${session.sp.name}"></span>
			</td>
			<td style="width: 25%">
				<table><tr><td>
					<div th:if="${session.sp.fixedPhone != null}">
						<ul><li>Fixed Phone</li></ul>
					</div>
					<div th:if="${session.sp.fixedInternet != null}">
						<ul><li>Fixed Internet
							<ul>
								<li>Number of included Gigabytes: <span th:text="${session.sp.fixedInternet.numGigaFI}"></span></li>
								<li>Fee for extra Gigabytes: <span th:text="${#numbers.formatDecimal(
												session.sp.fixedInternet.extraGigaFeeFI, 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
							</ul>
						</li></ul>
					</div>
					<div th:if="${session.sp.mobilePhone != null}">
						<ul><li>Mobile Phone
							<ul>
								<li>Number of minutes: <span th:text="${session.sp.mobilePhone.numMin}"></span></li>
								<li>Number of SMSs: <span th:text="${session.sp.mobilePhone.numSMS}"></span></li>
								<li>Fee for extra minutes: <span th:text="${#numbers.formatDecimal(
												session.sp.mobilePhone.minFee, 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
								<li>Fee for extra SMSs: <span th:text="${#numbers.formatDecimal(
												session.sp.mobilePhone.smsFee, 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
							</ul>
						</li></ul>
					</div>
					<div th:if="${session.sp.mobileInternet != null}">
						<ul><li>Mobile Internet
							<ul>
								<li>Number of included Gigabytes: <span th:text="${session.sp.mobileInternet.extraGigaFeeMI}"></span></li>
								<li>Fee for extra Gigabytes: <span th:text="${#numbers.formatDecimal(
												session.sp.mobileInternet.extraGigaFeeMI, 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
							</ul></li>
						</ul>
					</div>
				</td></tr></table>
			</td>
			<td th:if="${session.ops.empty}" style="text-align: center; vertical-align: middle; width: 20%">
				<span style="text-align: center; vertical-align: middle;">
								No selected optional products</span>
			</td><td th:if="${!session.ops.empty}" style="width: 20%">
				<div th:each="op : ${session.ops}">
						<ul>
							<li><span th:text="${op.nameOP}"></span>
							<ul>
								<li>Monthly fee: <span th:text="${#numbers.formatDecimal(
											op.monthlyFeeOP, 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
							</ul></li>
						</ul>
				</div>
			</td>
			<td style="text-align: center; vertical-align: middle; width: 20%">
				Number of months: <span th:text="${session.vp.numMonth}"></span><br>
				Monthly fee: <span th:text="${#numbers.formatDecimal(
								session.vp.monthlyFee, 0, 'COMMA', 2, 'POINT')}"></span>&euro;
			</td>
			<td style="text-align: center; vertical-align: middle; width: 10%">
				<span th:text="${#numbers.formatDecimal(
					session.tp, 0, 'COMMA', 2, 'POINT')}"></span>&euro;
			</td>
			<td style="text-align: center; vertical-align: middle; width: 10%">
				<span th:text="${session.sd}"></span>
			</td>
		</tr>
	</table>
	<table style="width:100%;">
		<tr>
			<td th:if="${session.consUsername != null && session.consUsername != ''}" 
					style="text-align: center; vertical-align: middle;">
				<form action="ConfirmOrder" method="POST">
					<br><input type="submit" name="confirmOrder" value="Buy"/>
					<input type="submit" name="confirmOrder" value="!Buy"/>
				</form>
			</td>
			<td th:if="${session.consUsername == null || session.consUsername == ''}"
					style="text-align: center; vertical-align: middle;">
				<br>You're not logged!<br>
				<form action="GoToIndexPage" method="POST">
					<input type="hidden" name="rememberOrder" value="yes"/>
					<input type="submit" value="Login"/>
				</form>
			</td>
		</tr>
	</table>

</body>
</html>