<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
	<table th:fragment="sp">
		<tr><th><span th:text="${sp.getName()}">Service Package name</span></th>
		<td><div th:if="${sp.getFixedPhone() != null}">
			<ul><li>Fixed Phone</li></ul>
		</div>
		<div th:if="${sp.getFixedInternet() != null}">
			<ul><li>Fixed Internet
				<ul>
					<li>Number of included Gigabytes: <span th:text="${sp.getFixedInternet().getNumGigaFI()}"></span></li>
					<li>Fee for extra Gigabytes: <span th:text="${#numbers.formatDecimal(
									sp.getFixedInternet().getExtraGigaFeeFI(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
				</ul>
			</li></ul>
		</div>
		<div th:if="${sp.getMobilePhone() != null}">
			<ul><li>Mobile Phone
				<ul>
					<li>Number of minutes: <span th:text="${sp.getMobilePhone().getNumMin()}"></span></li>
					<li>Number of SMSs: <span th:text="${sp.getMobilePhone().getNumSms()}"></span></li>
					<li>Fee for extra minutes: <span th:text="${#numbers.formatDecimal(
									sp.getMobilePhone().getMinFee(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
					<li>Fee for extra SMSs: <span th:text="${#numbers.formatDecimal(
									sp.getMobilePhone().getSmsFee(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
				</ul>
			</li></ul>
		</div>
		<div th:if="${sp.getMobileInternet() != null}">
			<ul><li>Mobile Internet
				<ul>
					<li>Number of included Gigabytes: <span th:text="${sp.getMobileInternet().getNumGigaMI()}"></span></li>
					<li>Fee for extra Gigabytes: <span th:text="${#numbers.formatDecimal(
									sp.getMobileInternet().getExtraGigaFeeMI(), 0, 'COMMA', 2, 'POINT')}"></span>&euro;</li>
				</ul>
			</li></ul>
		</div>
	</td></tr></table>
</body>
</html>