<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Home page</title>
</head>
<body>
	<div>
		Welcome <span th:text="${session.consUsername}"> consUsername </span>
	</div>
	<br>
	<div>
		<a href="GoToBuyPage">Buy a service package</a>
	</div>
	
	<table>
		<tr  th:each="sp : ${servicePackages}">
			<td>
				<span th:text="${sp.name}">Service Package name</span>
				<ul>
					<li th::text="${sp.fixedPhone.idService}"></li>
					<li th::text="${sp.fixedInternet} != null ? 'Fixed Internet'"></li>
					<li th::text="${sp.mobilePhone} != null ? 'Mobile Phone'"></li>
					<li th::text="${sp.mobileInternet} != null ? 'Mobile Internet'"></li>
				</ul>
			</td>
		</tr>
	</table>	
	
	<div>
		Rejected orders:
		da implementare
	</div>

</body>
</html>